{% load static %}
<!-- Library Bundle Script -->
<script src="{% static 'js/core/libs.min.js' %}"></script>

<!-- Plugin Scripts -->
<!-- Tour Plugin -->
<script src="{% static 'js/vendor/sheperd.min.js' %}"></script>
<script src="{% static 'js/plugins/tour.js' %}" defer></script>

<!-- Flatpickr Script -->
<script src="{% static 'js/vendor/flatpickr.min.js' %}"></script>
<script src="{% static 'js/plugins/flatpickr.js' %}" defer></script>

<!-- Select2 Script -->
<script src="{% static 'js/plugins/select2.js' %}" defer></script>

<!-- Slider-tab Script -->
<script src="{% static 'js/plugins/slider-tabs.js' %}"></script>

<!-- SwiperSlider Script -->
<script src="{% static 'js/vendor/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/plugins/swiper-slider.js' %}" defer></script>

<!-- Lodash Utility -->
<script src="{% static 'js/vendor/lodash.min.js' %}"></script>

<!-- Utilities Functions -->
<script src="{% static 'js/iqonic-script/utility.min.js' %}"></script>

<!-- Settings Script -->
<script src="{% static 'js/iqonic-script/setting.min.js' %}"></script>

<!-- Settings Init Script -->
<script src="{% static 'js/setting-init.js' %}"></script>

<!-- External Library Bundle Script -->
<script src="{% static 'js/core/external.min.js' %}"></script>

<!-- Widgetchart Script -->
<script src="{% static 'js/charts/widgetcharts.js' %}" defer></script>

<!-- Dashboard Script -->
<script src="{% static 'js/charts/dashboard.js' %}" defer></script>

<!-- Streamit Script -->
<script src="{% static 'js/streamit.js' %}" defer></script>

<!-- Sidebar Script -->
<script src="{% static 'js/sidebar.js' %}" defer></script>

<!-- Custom Chart Script -->
<script src="{% static 'js/chart-custom.js' %}" defer></script>

<!-- Select2 Plugin -->
<script src="{% static 'js/plugins/select2.js' %}" defer></script>

<!-- Flatpickr Plugin -->
<script src="{% static 'js/plugins/flatpickr.js' %}" defer></script>
